div {
    background-color: #1ba2f0;
    border-radius: 6px;
    border: 1px solid #1ba2f0;
    padding: 10px;
    margin: 10px;
}

.remove-border-td {
    border-style : hidden!important;
}

.border-td {
    border: 1pt solid #000000
}

.border-tr {
    border-bottom: 1pt solid black;
    border-top: 1pt solid black;
}
